<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <style>
        .error-field {
            color: red;
        }
    </style>
</head>
<body>

<h1>Add New User</h1>

<form id="addUserForm" action="#" th:action="@{/users/add-user}" th:object="${userForm}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" th:field="*{username}"><br><br>
    <p class="error-field" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" >Username error</p>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" th:field="*{email}"><br><br>
    <p class="error-field" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</p>

    <label for="birthday">Birthday:</label><br>
    <input type="text" id="birthday" name="birthday" th:field="*{birthday}"><br><br>
    <p class="error-field" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday error</p>

    <button type="submit">Submit</button>
    <button type="button" onclick="backToUserList()">Cancel</button>
</form>

<script>
    function backToUserList() {
        window.location.href = '[[@{/users}]]';
    }

    // document.getElementById('addUserForm').addEventListener('submit', function (event) {
    //     event.preventDefault();
    //     const addUserUrl = '[[@{/users/add-user}]]';
    //     const newUser = {
    //         username: document.getElementById('username').value,
    //         email: document.getElementById('email').value,
    //         birthday: document.getElementById('birthday').value,
    //     };
    //
    //     fetch(addUserUrl, {
    //         method: "post",
    //         headers: {
    //             "Content-Type": "application/json"
    //         },
    //         body: JSON.stringify(newUser),
    //     }).then(async response => {
    //         const isSuccessful = await response.json();
    //         if (isSuccessful) {
    //             alert("Add new user successfully!");
    //             backToUserList();
    //         } else {
    //             alert("Cannot add new user now, try again later!");
    //         }
    //     }).catch(console.error);
    // });
</script>

</body>
</html>
