<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
    <style th:inline="css">
        #result {
            color: /*[[${result == null ? 'black' : result.get('isSuccessful') ? 'green' : 'red'}]]*/ black;
        }
    </style>
</head>
<body>

<h1>Edit User</h1>

<p id="result" th:text="${result!=null? result.get('message'):''}"/>

<form id="editUserForm" th:object="${userDetails}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required th:field="*{username}"><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required th:field="*{email}"><br><br>

    <label for="birthday">Birthday:</label><br>
    <input type="date" id="birthday" name="birthday" required th:field="*{birthday}"
    ><br><br>

    <!--    <button type="submit">Save</button>-->
    <!--    <button type="button" onclick="backToUserList()">Cancel</button>-->
</form>

<!--Submit with javascript-->
<button type="button" onclick="submit()">Save</button>
<button type="button" onclick="backToUserList()">Cancel</button>

<script>
    function backToUserList() {
        window.location.href = '[[@{/users}]]';
    }

    function submit() {
        const updateUserUrl = '[[@{/users/update-user}]]';
        const user = {
            id: '[[${userDetails.id}]]',
            username: document.getElementById("username").value,
            email: document.getElementById("email").value,
            birthday: document.getElementById("birthday").value,
        };

        fetch(updateUserUrl, {
            method: 'post',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(user),
        }).then(async (response) => {
            const data = await response.json();
            if (response.ok && data.isSuccessful) {
                alert(data.message);
                backToUserList();
            } else {
                alert("Update user failure!");
            }
        }).catch(console.error)
    }
</script>

</body>
</html>
